@import url('https://fonts.googleapis.com/css2?family=Kristi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

h1 {
    font-family: "Kristi", cursive, sans-serif;
    font-size: 90px;
}
h2 {
    font-family: "Kristi", cursive, sans-serif;
    font-size: 150px;
    /*text-align: center;*/
}

p {
    font-family: "Lato", sans-serif;
}

/*DEVELOP:: ABOUT SECTION*/

#about {
    display: flex; 
    width: 100%;
    height: 500px;
}

.about-hero  {
    background-color: #18c5cc;
    color: #44273d;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.about-hero-nav {
    /*background-color: yellowgreen;*/
    margin: 10px 10px;
}

.about-hero-nav ul {
    display: flex;
    list-style: none;
}

.about-hero-nav ul a {
    margin: 10px 30px;
    font-family: "Lato", sans-serif;
    color: #44273d; 
    text-decoration: none;
    font-weight: bold;
}

.about-text {
    background-color: #f2eeed;
    width: 50%;
    text-align: center;
    padding: 50px;
    font-weight: bold;
}

/* DEVELOP:: CONTACT SECTION */
#contact {
    display: flex; 
    width: 100%;
    height: 500px;
}

.contact-hero  {
    background-color: #ff6d3a;
    color: #44273d;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.contact-hero-nav {
    /*background-color: yellowgreen;*/
    margin: 10px 10px;
}

.contact-hero-nav ul {
    display: flex;
    list-style: none;
}

.contact-hero-nav ul a {
    margin: 10px 30px;
    font-family: "Lato", sans-serif;
    color: #44273d; 
    text-decoration: none;
    font-weight: bold;
}

.contact-text {
    background-color: #f2eeed;
    width: 50%;
    text-align: center;
    padding: 50px;
    font-weight: bold;
    
}




/* About section */
/*
#about {
    display: flex;
    width: 100%;
}
.about-hero {
    background-color: #18c5cc;
    color: #44273d;
    width: 40%;
}

.about-text {
    justify-content: center;
}


/* Work section */
/*
#work {
    display: flex;
    width: 100%;
}
.work-hero {
    background-color: #ffba31;
    color: #44273d;
    width: 40%;
}

/* Contact section */
/*
#contact {
    display: flex;
    width: 100%;
}
.contact-hero {
    background-color: #ff6d3a;
    color: #44273d;
    width: 40%;
}
*/